Repository MusicScience37/cpp-stat-bench: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list-in-unit-test, update-template-headers

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list-in-unit-test
        name: update-source-list-in-unit-test
        description: Update the list of source codes in unit test.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
      - id: update-template-headers
        name: update-template-headers
        description: Update C++ header files of HTML templates.
        language: system
        files: src/stat_bench/reporter/template/.*\.html$
        entry: poetry run python scripts/generate_template_header.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:wrench: Update packages.
  poetry.lock
  scripts/ci_linux_test.py
  vcpkg-configuration.json
Due: none

:wrench: Wrote a script to build and run tests in CI.
  .gitlab-ci.yml
  cspell.json
  scripts/ci_linux_test.py
Due: none

:bug: Fix errors in CI.
  .gitlab-ci.yml
Due: none

:wrench: Add compilers.
  .gitlab-ci.yml
Due: none

:wrench: Remove jobs whose results are unused.
  .gitlab-ci.yml
Due: none

:wrench: Separate Python packages for faster installation in CI.
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Due: none

:books: Update the list of supported compilers.
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:wrench: Fix CI jobs in Linux.
  .gitlab-ci.yml
  poetry.lock
  pyproject.toml
Due: none

:recycle: Use commas in representations of durations in console outputs.
  src/stat_bench/reporter/console_reporter.cpp
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/integ/scrubbers.py
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write_values_in_different_ranges.approved.txt
  tests/units/stat_bench/reporter/console_reporter_test.cpp
  tests/units/stat_bench/reporter/use_reporter_for_test_wide_range.h
Due: clang-format, update-source-list-in-unit-test

:recycle: More compact output.
  src/stat_bench/reporter/console_reporter.cpp
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:recycle: Tune output.
  src/stat_bench/reporter/console_reporter.cpp
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write_values_in_different_ranges.approved.txt
  tests/units/stat_bench/reporter/use_reporter_for_test_wide_range.h
Due: clang-format, update-source-list-in-unit-test

:books: Prepare for release v0.15.3.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.15.3.md
  include/stat_bench/version.h
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Update Clang in DevContainer to fix crash of integration tests in my local environment.
  .devcontainer/Dockerfile
Due: none

:recycle: Change type used in Duration class for refactoring.
  include/stat_bench/clock/duration.h
  include/stat_bench/clock/monotone_time_point.h
  tests/units/stat_bench/clock/duration_test.cpp
  tests/units/stat_bench/clock/monotone_time_point_test.cpp
  tests/units/stat_bench/measurer/measurement_test.cpp
  tests/units/stat_bench/reporter/use_reporter_for_test.h
  tests/units/stat_bench/runner/runner_test.cpp
  tests/units/stat_bench/stat/calc_stat_test.cpp
  tests/units/stat_bench/stat/custom_stat_output_test.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Move some functions to MonotoneTimePoint class
  doc/sphinx/src/basic_design/basic_structure.puml
  include/stat_bench/clock/monotone_time_point.h
  include/stat_bench/clock/stop_watch.h
  src/stat_bench/clock/monotone_time_point.cpp
  src/stat_bench/reporter/console_reporter.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/clock/monotone_clock_test.cpp
  tests/units/stat_bench/clock/monotone_time_point_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Rewrite classes of clocks to prevent additional overheads.
  include/stat_bench/clock/monotone_time_point.h
  src/stat_bench/clock/monotone_time_point.cpp
  tests/units/stat_bench/clock/monotone_time_point_test.cpp
Due: clang-format, update-source-list-in-unit-test

:bug: Fix build error with MSVC.
  src/stat_bench/clock/monotone_time_point.cpp
  tests/units/stat_bench/clock/monotone_time_point_test.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Remove old implementation.
  include/stat_bench/clock/monotone_clock_impl.h
  src/stat_bench/clock/monotone_clock_impl.cpp
  src/stat_bench/reporter/console_reporter.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/clock/monotone_clock_impl_test.cpp
  tests/units/stat_bench/reporter/use_reporter_for_test.h
  tests/units/stat_bench/reporter/use_reporter_for_test_wide_range.h
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Remove non-existing type from document.
  doc/sphinx/src/basic_api/main.rst
Due: none

:wrench: Try CMakePresets.json in Windows.
  CMakePresets.json
Due: none

:bug: Fix failure of tests in Windows.
  tests/units/stat_bench/measurer/mean_processing_time_measurer_test.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Add files generated by Visual Studio to gitignore.
  .gitignore
Due: none

:wrench: Configure CMakePresets.json for LLVM too.
  CMakePresets.json
  cspell.json
Due: none

:recycle: Move processing of statistics to dedicated functions.
  CMakeLists.txt
  cspell.json
  include/stat_bench/stat/custom_stat_output.h
  include/stat_bench/stat/statistics.h
  src/stat_bench/CMakeLists.txt
  src/stat_bench/source_list.cmake
  src/stat_bench/stat/calc_stat.cpp
  src/stat_bench/stat/statistics.cpp
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/stat/calc_stat_test.cpp
  tests/units/stat_bench/stat/statistics_test.cpp
  tests/units/unity_source.cpp
  vcpkg.json
Due: clang-format, cmake-format, update-source-list-in-unit-test

:sparkles: Additional statistics.
  doc/sphinx/CMakeLists.txt
  doc/sphinx/src/schemas/docs/data_file_schema_v2.md
  doc/sphinx/src/schemas/index.rst
  include/stat_bench/reporter/data_file_spec.h
  include/stat_bench/reporter/json_data_file_helper.h
  include/stat_bench/reporter/msgpack_data_file_helper.h
  include/stat_bench/stat/statistics.h
  schemas/data_file_schema_v2.json
  scripts/generate_schema_docs.sh
  src/stat_bench/reporter/data_file_helper.cpp
  src/stat_bench/reporter/data_file_schema_url.h
  src/stat_bench/stat/calc_stat.cpp
  tests/integ/reporters_test.py
  tests/units/stat_bench/reporter/approvals/compressed_msgpack_reporter_test.stat_bench__reporter__CompressedMsgPackReporter.write.approved.json
  tests/units/stat_bench/reporter/approvals/json_reporter_test.stat_bench__reporter__JsonReporter.write.approved.json
  tests/units/stat_bench/reporter/approvals/msgpack_reporter_test.stat_bench__reporter__MsgPackReporter.write.approved.json
  tests/units/stat_bench/stat/calc_stat_test.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:bug: Fix build.
  tests/units/stat_bench/stat/calc_stat_test.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Update script for installation.
  cmake/cpp-stat-bench-config.cmake.in
Due: none

:recycle: Show standard errors in consoles.
  src/stat_bench/reporter/console_reporter.cpp
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/integ/scrubbers.py
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:white_check_mark: Stabilize tests using approvaltests.
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/integ/scrubbers.py
Due: none

:recycle: Created a function to get the parameter name for the number of threads.
  include/stat_bench/benchmark_condition.h
  include/stat_bench/fixture_base.h
  include/stat_bench/param/num_threads_parameter_name.h
  src/stat_bench/runner/runner.cpp
  tests/units/stat_bench/invocation_context_test.cpp
  tests/units/stat_bench/param/create_ordinary_parameter_dict.h
  tests/units/stat_bench/reporter/create_test_measurement.h
Due: clang-format, update-source-list-in-unit-test

:recycle: Show number of threads only if needed.
  doc/sphinx/CMakeLists.txt
  doc/sphinx/src/schemas/docs/data_file_schema_v3.md
  doc/sphinx/src/schemas/index.rst
  include/stat_bench/benchmark_condition.h
  include/stat_bench/param/parameter_dict.h
  schemas/data_file_schema_v3.json
  scripts/generate_schema_docs.sh
  src/stat_bench/param/parameter_dict.cpp
  src/stat_bench/param/parameter_generator.cpp
  src/stat_bench/reporter/data_file_schema_url.h
  src/stat_bench/runner/runner.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/integ/reporters_test.py
  tests/units/stat_bench/param/parameter_dict_test.cpp
  tests/units/stat_bench/param/parameter_generator_test.cpp
  tests/units/stat_bench/reporter/approvals/json_reporter_test.stat_bench__reporter__JsonReporter.write.approved.json
Due: clang-format, cmake-format, update-source-list-in-unit-test

:recycle: Remove unnecessary parentheses from console output.
  include/stat_bench/param/parameter_dict.h
  src/stat_bench/param/parameter_dict.cpp
  src/stat_bench/reporter/console_reporter.cpp
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Update environment.
  .clang-tidy-checker
  .gitlab-ci.yml
  include/stat_bench/bench_impl/default_main.h
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: clang-format, update-source-list-in-unit-test

:rotating_light: Fix warnings in clang-tidy.
  .clang-tidy-checker
  include/stat_bench/bench_impl/benchmark_case_register.h
  include/stat_bench/bench_impl/default_main.h
  include/stat_bench/bench_impl/threadable_invoker.h
Due: clang-format, update-source-list-in-unit-test

:wrench: Fix CI.
  src/stat_bench/CMakeLists.txt
Due: cmake-format

:wrench: Remove a useless warning.
  .clang-tidy
Due: none

:books: Prepare for release v0.16.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.16.0.md
  include/stat_bench/version.h
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Update versions of Windows in CI.
  .gitlab-ci.yml
  scripts/ci_win.cmd
Due: none

:wrench: Update dependencies.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none
