Repository MusicScience37/cpp-stat-bench: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list-in-unit-test, update-template-headers

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list-in-unit-test
        name: update-source-list-in-unit-test
        description: Update the list of source codes in unit test.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
      - id: update-template-headers
        name: update-template-headers
        description: Update C++ header files of HTML templates.
        language: system
        files: src/stat_bench/reporter/template/.*\.html$
        entry: poetry run python scripts/generate_template_header.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:wrench: Update vcpkg.
  vcpkg-configuration.json
Due: none

:wrench: Update Doxygen configuration file format.
  doc/doxygen/Doxyfile.in
Due: none

:wrench: Fix the command on Windows in CI.
  .gitlab-ci.yml
Due: none

:bug: Use CLOCK_MONOTONIC instead of CLOCK_MONOTONIC_RAW.
  src/stat_bench/clock/monotone_time_point.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Prepare for release v0.21.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.21.0.md
  include/stat_bench/version.h
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Configure formatters and linters of Python.
  .cmake-format.py
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  cspell.json
  poetry.lock
  pyproject.toml
  scripts/check_iwyu.py
  scripts/create_cpp_file.py
  scripts/render_template.py
  scripts/update_source_list.py
  tests/integ/conftest.py
  tests/integ/reporters_test.py
  tests/integ/test_command_line.py
Due: none

:wrench: Update the list of extensions.
  .vscode/extensions.json
Due: none

:rotating_light: Fix linter warnings in tests/integ directory.
  .flake8
  mypy.ini
  pyproject.toml
  tests/integ/bench_executor.py
  tests/integ/conftest.py
  tests/integ/reporters_test.py
  tests/integ/scrubbers.py
Due: none

:wrench: CI configuration for linters.
  .gitlab-ci.yml
Due: none

:wrench: Add minimal CodeCov configuration.
  codecov.yml
Due: none

:wrench: Change some flags of CodeCov configuration.
  codecov.yml
Due: none

:wrench: Change CodeCov configurations.
  codecov.yml
Due: none

:books: Add automatically generated class diagrams.
  doc/sphinx/src/basic_api/fixture.rst
  doc/sphinx/src/conf.py
Due: none

:books: Update Doxygen documentation.
  .clang-format
  doc/doxygen/.clang-format
  doc/doxygen/Doxyfile.in
  doc/doxygen/namespaces.h
  src/stat_bench/reporter/console_reporter.cpp
  src/stat_bench/reporter/data_file_schema_url.h
  src/stat_bench/util/check_glob_pattern.cpp
  src/stat_bench/util/prepare_directory.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Update Sphinx documents.
  doc/sphinx/src/about.md
  doc/sphinx/src/basic_api/index.rst
  doc/sphinx/src/basic_design/basic_structure.puml
  doc/sphinx/src/basic_design/index.md
  doc/sphinx/src/basic_design/index.rst
  doc/sphinx/src/basic_design/use_cases.puml
  doc/sphinx/src/how_to_build_in_repository.md
  doc/sphinx/src/index.rst
  doc/sphinx/src/installation.md
Due: none

:books: Rewrite class diagrams.
  doc/sphinx/src/basic_design/classes_define_bench.puml
  doc/sphinx/src/basic_design/classes_measure.puml
  doc/sphinx/src/basic_design/classes_param.puml
  doc/sphinx/src/basic_design/classes_plot.puml
  doc/sphinx/src/basic_design/classes_reporter.puml
  doc/sphinx/src/basic_design/classes_run_bench.puml
  doc/sphinx/src/basic_design/index.md
Due: none

:alembic: Add benchmark for do_not_optimize function.
  tests/CMakeLists.txt
  tests/bench/CMakeLists.txt
  tests/bench/bench_do_not_optimize.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:sparkles: Prevent optimization of return values of functions to be measured.
  examples/bench_fibonacci.cpp
  include/stat_bench/bench_impl/threadable_invoker.h
Due: clang-format, update-source-list-in-unit-test

:books: Wrote an example and updated document structure for examples.
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  cspell.json
  doc/doxygen/examples.h
  doc/sphinx/src/conf.py
  doc/sphinx/src/howto/implement_simple_benchmark.md
  doc/sphinx/src/howto/index.rst
  doc/sphinx/src/index.rst
  doc/sphinx/src/todos.rst
  examples/.clang-tidy
  examples/CMakeLists.txt
  examples/simple_benchmark.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Wrote how-to guide for the simplest example.
  doc/sphinx/src/howto/implement_simple_benchmark.md
  examples/simple_benchmark.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Add an example of a parameterized benchmark.
  doc/doxygen/examples.h
  doc/sphinx/src/howto/implement_parameterized_benchmark.md
  doc/sphinx/src/howto/index.rst
  examples/CMakeLists.txt
  examples/parameterized_benchmark.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Add an example of custom outputs without statistics.
  doc/doxygen/examples.h
  doc/sphinx/src/howto/implement_benchmark_with_custom_output_without_stat.md
  doc/sphinx/src/howto/index.rst
  examples/CMakeLists.txt
  examples/custom_output_without_stat.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Add an example of custom outputs with statistics.
  doc/doxygen/examples.h
  doc/sphinx/src/howto/implement_benchmark_with_custom_output_with_stat.md
  doc/sphinx/src/howto/index.rst
  examples/CMakeLists.txt
  examples/custom_output_with_stat.cpp
  examples/custom_output_without_stat.cpp
  examples/parameterized_benchmark.cpp
  examples/simple_benchmark.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Write usage of command line options.
  cspell.json
  doc/sphinx/src/command_line_options.md
  doc/sphinx/src/conf.py
  doc/sphinx/src/howto/create_data_files.md
  doc/sphinx/src/howto/index.rst
  doc/sphinx/src/index.rst
  poetry.lock
  pyproject.toml
Due: none

:books: Add a guide to generate basic plots without configuration.
  doc/sphinx/src/howto/create_data_files.md
  doc/sphinx/src/howto/generate_basic_plots.md
  doc/sphinx/src/howto/index.rst
  doc/sphinx/start_auto_build.sh.in
Due: none

:books: Rewrite the table of plots.
  doc/sphinx/src/howto/generate_basic_plots.md
Due: none

:books: Add guide to configure plotting.
  doc/doxygen/examples.h
  doc/sphinx/src/basic_api/bench.rst
  doc/sphinx/src/howto/configure_plotting.md
  doc/sphinx/src/howto/index.rst
  examples/CMakeLists.txt
  examples/configure_plotting.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Added internal links among how-to guides.
  doc/sphinx/src/command_line_options.md
  doc/sphinx/src/howto/generate_basic_plots.md
  doc/sphinx/src/howto/implement_benchmark_with_custom_output_with_stat.md
  doc/sphinx/src/howto/implement_benchmark_with_custom_output_without_stat.md
  doc/sphinx/src/howto/implement_parameterized_benchmark.md
  doc/sphinx/src/howto/implement_simple_benchmark.md
  doc/sphinx/src/installation.md
Due: none

:books: Some fixes for documents.
  doc/doxygen/examples.h
  doc/sphinx/src/howto/configure_plotting.md
  doc/sphinx/src/howto/implement_benchmark_with_custom_output_with_stat.md
  doc/sphinx/src/howto/implement_benchmark_with_custom_output_without_stat.md
  examples/configure_plotting.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Separate design documents into individual files.
  doc/sphinx/src/basic_design/index.md
  doc/sphinx/src/design/classes.md
  doc/sphinx/src/design/classes_define_bench.puml
  doc/sphinx/src/design/classes_measure.puml
  doc/sphinx/src/design/classes_param.puml
  doc/sphinx/src/design/classes_plot.puml
  doc/sphinx/src/design/classes_reporter.puml
  doc/sphinx/src/design/classes_run_bench.puml
  doc/sphinx/src/design/index.md
  doc/sphinx/src/design/use_cases.md
  doc/sphinx/src/design/use_cases.puml
  doc/sphinx/src/index.rst
Due: none

:books: Research the better method to escape strings in file names.
  doc/sphinx/src/design/escape_file_names.md
  doc/sphinx/src/design/index.md
Due: none

:books: Describe tables.
  doc/sphinx/src/design/escape_file_names.md
Due: none

:recycle: Re-implement escape_for_file_name function.
  src/stat_bench/util/escape_for_file_name.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Remove unnecessary comments and const qualifiers.
  src/stat_bench/util/escape_for_file_name.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Escape directory names in PlotReporter.
  .vscode/settings.json
  include/stat_bench/reporter/plot_reporter.h
  src/stat_bench/reporter/plot_reporter.cpp
  tests/integ/CMakeLists.txt
  tests/integ/conftest.py
  tests/integ/escaped_names.cpp
  tests/integ/escaped_names_test.py
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Removed old examples.
  doc/doxygen/examples.h
  examples/CMakeLists.txt
  examples/bench_containers.cpp
  examples/bench_fibonacci.cpp
  examples/bench_for.cpp
  examples/bench_push_back.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Prepare for release v0.22.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.22.0.md
  include/stat_bench/version.h
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Update Python packages.
  poetry.lock
  pyproject.toml
Due: none

:recycle: Reapply formatters.
  scripts/check_encoding.py
  scripts/check_iwyu.py
  scripts/create_cpp_file.py
  scripts/generate_template_header.py
  scripts/render_template.py
  scripts/update_source_list.py
Due: none

Updated development environment.
  .devcontainer/devcontainer.json
  .gitlab-ci.yml
  .vscode/extensions.json
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none
