Repository MusicScience37/cpp-stat-bench: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list-in-unit-test, update-template-headers

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list-in-unit-test
        name: update-source-list-in-unit-test
        description: Update the list of source codes in unit test.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
      - id: update-template-headers
        name: update-template-headers
        description: Update C++ header files of HTML templates.
        language: system
        files: src/stat_bench/reporter/template/.*\.html$
        entry: poetry run python scripts/generate_template_header.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:wrench: Update vcpkg.
  vcpkg-configuration.json
Due: none

Update DevContainer configuration.
  .devcontainer/devcontainer.json
Due: none

:wrench: Update development environment.
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
  doc/sphinx/src/installation.md
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Check of fixes in address sanitizer in Clang.
  .gitlab-ci.yml
Due: none

:wrench: Remove configuration which became unnecessary.
  .devcontainer/devcontainer.json
Due: none

:books: Prepare for release v0.18.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.18.0.md
  include/stat_bench/version.h
Due: clang-format, update-source-list-in-unit-test

:bug: Update approved files.
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/console_reporter_test.stat_bench__reporter__ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: none

:wrench: Configure thread sanitizer.
  .vscode/cmake-variants.yaml
  cmake/ConfigureSanitizer.cmake
  src/stat_bench/CMakeLists.txt
Due: cmake-format

:recycle: Removed unused MsgpackFileBuffer class.
  src/stat_bench/reporter/msgpack_reporter.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Move common classes for plots to plots namespace.
  .pre-commit-config.yaml
  include/stat_bench/plots/jinja_renderer.h
  include/stat_bench/reporter/cdf_line_plot_reporter.h
  include/stat_bench/reporter/simple_line_plot_reporter.h
  include/stat_bench/reporter/violin_plot_reporter.h
  scripts/generate_template_header.py
  scripts/render_template.py
  src/stat_bench/plots/jinja_renderer.cpp
  src/stat_bench/plots/template/plotly_plot.h
  src/stat_bench/plots/template/plotly_plot.jinja
  src/stat_bench/reporter/cdf_line_plot_reporter.cpp
  src/stat_bench/reporter/simple_line_plot_reporter.cpp
  src/stat_bench/reporter/violin_plot_reporter.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/plots/jinja_renderer_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:construction: Classes to create plots using plotly library.
  include/stat_bench/plots/i_plotter.h
  include/stat_bench/plots/plotly_plotter.h
  scripts/generate_template_header.py
  src/stat_bench/plots/plotly_plotter.cpp
  src/stat_bench/plots/template/plotly_plot.h
  src/stat_bench/reporter/cdf_line_plot_reporter.cpp
  src/stat_bench/reporter/simple_line_plot_reporter.cpp
  src/stat_bench/reporter/violin_plot_reporter.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_line_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_simple_line_plot.approved.html
  tests/units/stat_bench/plots/plotly_plotter_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:construction: Classes to create plots.
  include/stat_bench/plots/i_plotter.h
  src/stat_bench/plots/plotly_plotter.cpp
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_violin_plot.approved.html
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_violin_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/plotly_plotter_test.cpp
Due: clang-format, update-source-list-in-unit-test

:construction: Implement plots.
  include/stat_bench/plots/cdf_line_plot.h
  include/stat_bench/plots/i_plot.h
  include/stat_bench/plots/i_plotter.h
  include/stat_bench/plots/samples_line_plot.h
  include/stat_bench/plots/violin_plot.h
  src/stat_bench/plots/cdf_line_plot.cpp
  src/stat_bench/plots/plotly_plotter.cpp
  src/stat_bench/plots/samples_line_plot.cpp
  src/stat_bench/plots/violin_plot.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/plots/approvals/cdf_line_plot_test.stat_bench__plots__CdfLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_line_plot_with_sequential_number.approved.html
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_violin_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/samples_line_plot_test.stat_bench__plots__SamplesLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/violin_plot_test.stat_bench__plots__ViolinPlot.write.approved.html
  tests/units/stat_bench/plots/cdf_line_plot_test.cpp
  tests/units/stat_bench/plots/plotly_plotter_test.cpp
  tests/units/stat_bench/plots/samples_line_plot_test.cpp
  tests/units/stat_bench/plots/use_plot_for_test.h
  tests/units/stat_bench/plots/violin_plot_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:bug: Prevent errors in unit tests.
  src/stat_bench/plots/plotly_plotter.cpp
  tests/units/stat_bench/plots/approvals/cdf_line_plot_test.stat_bench__plots__CdfLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_violin_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/samples_line_plot_test.stat_bench__plots__SamplesLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/violin_plot_test.stat_bench__plots__ViolinPlot.write.approved.html
  tests/units/stat_bench/plots/use_plot_for_test.h
Due: clang-format, update-source-list-in-unit-test

:recycle: Rewrite reporter to write plots.
  include/stat_bench/reporter/plot_reporter.h
  src/stat_bench/reporter/plot_reporter.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/reporter/plot_reporter_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Use the new reporter for plots.
  plots/push_back/MeanProcessingTime_cdf.html
  plots/push_back/MeanProcessingTime_samples.html
  plots/push_back/MeanProcessingTime_violin.html
  plots/push_back/ProcessingTime_cdf.html
  plots/push_back/ProcessingTime_samples.html
  plots/push_back/ProcessingTime_violin.html
  src/stat_bench/reporter/plot_reporter.cpp
  src/stat_bench/runner/runner.cpp
  tests/integ/reporters_test.py
Due: clang-format, update-source-list-in-unit-test

:recycle: Remove old version of reporters.
  include/stat_bench/reporter/cdf_line_plot_reporter.h
  include/stat_bench/reporter/simple_line_plot_reporter.h
  include/stat_bench/reporter/violin_plot_reporter.h
  src/stat_bench/reporter/cdf_line_plot_reporter.cpp
  src/stat_bench/reporter/simple_line_plot_reporter.cpp
  src/stat_bench/reporter/violin_plot_reporter.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/reporter/approvals/cdf_line_plot_reporter_test.stat_bench__reporter__CdfLinePlotReporter.write.approved.html
  tests/units/stat_bench/reporter/approvals/simple_line_plot_reporter_test.stat_bench__reporter__SimpleLinePlotReporter.write.approved.html
  tests/units/stat_bench/reporter/approvals/violin_plot_reporter_test.stat_bench__reporter__ViolinPlotReporter.write.approved.html
  tests/units/stat_bench/reporter/cdf_line_plot_reporter_test.cpp
  tests/units/stat_bench/reporter/simple_line_plot_reporter_test.cpp
  tests/units/stat_bench/reporter/violin_plot_reporter_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:bug: Remove unnecessary files.
  plots/push_back/MeanProcessingTime_cdf.html
  plots/push_back/MeanProcessingTime_samples.html
  plots/push_back/MeanProcessingTime_violin.html
  plots/push_back/ProcessingTime_cdf.html
  plots/push_back/ProcessingTime_samples.html
  plots/push_back/ProcessingTime_violin.html
Due: none

:recycle: Separate generation of plot names to a dedicated function.
  include/stat_bench/plots/plot_utils.h
  src/stat_bench/plots/cdf_line_plot.cpp
  src/stat_bench/plots/plot_utils.cpp
  src/stat_bench/plots/samples_line_plot.cpp
  src/stat_bench/plots/violin_plot.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/plots/plot_utils_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:rotating_light: Fixed an warning.
  src/stat_bench/plots/plotly_plotter.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Update included headers in plots namespace.
  include/stat_bench/plots/cdf_line_plot.h
  include/stat_bench/plots/i_plotter.h
  include/stat_bench/plots/samples_line_plot.h
  include/stat_bench/plots/violin_plot.h
  src/stat_bench/plots/cdf_line_plot.cpp
  src/stat_bench/plots/plotly_plotter.cpp
  src/stat_bench/plots/samples_line_plot.cpp
  src/stat_bench/plots/violin_plot.cpp
  tests/units/stat_bench/plots/cdf_line_plot_test.cpp
  tests/units/stat_bench/plots/plot_utils_test.cpp
  tests/units/stat_bench/plots/plotly_plotter_test.cpp
  tests/units/stat_bench/plots/samples_line_plot_test.cpp
  tests/units/stat_bench/plots/use_plot_for_test.h
  tests/units/stat_bench/plots/violin_plot_test.cpp
Due: clang-format, update-source-list-in-unit-test

:bug: Prevent errors in CI.
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_violin_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/plotly_plotter_test.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Update included files.
  src/stat_bench/reporter/msgpack_reporter.cpp
  src/stat_bench/reporter/plot_reporter.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Update included headers.
  tests/units/stat_bench/reporter/plot_reporter_test.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Fix documentation.
  include/stat_bench/plots/i_plot.h
Due: clang-format, update-source-list-in-unit-test

:recycle: Hide an implementation detail of the plotly plotter in PlotlyPlotter class.
  include/stat_bench/plots/i_plotter.h
  src/stat_bench/plots/plotly_plotter.cpp
  src/stat_bench/plots/violin_plot.cpp
  tests/units/stat_bench/plots/plotly_plotter_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Plots with error bars.
  include/stat_bench/plots/i_plotter.h
  src/stat_bench/plots/plotly_plotter.cpp
  tests/units/stat_bench/plots/approvals/plotly_plotter_test.stat_bench__plots__PlotlyPlotter.create_a_line_plot_with_error.approved.html
  tests/units/stat_bench/plots/plotly_plotter_test.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Prevent too long CI time.
  .gitlab-ci.yml
Due: none

:sparkles: Make ParameterValue usable in unordered maps, and convertible to double.
  include/stat_bench/param/parameter_value.h
  tests/units/stat_bench/param/parameter_value_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Make BenchmarkCaseName hashable.
  include/stat_bench/benchmark_case_name.h
Due: clang-format, update-source-list-in-unit-test

:sparkles: Implement a utility class OrderedMap.
  include/stat_bench/util/ordered_map.h
  tests/units/source_list.cmake
  tests/units/stat_bench/util/ordered_map_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:white_check_mark: Prevent failure in CI.
  tests/units/stat_bench/clock/stop_watch_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Add some functions to ParameterDict for implementation.
  cspell.json
  include/stat_bench/param/parameter_dict.h
  src/stat_bench/param/parameter_dict.cpp
  tests/units/stat_bench/param/parameter_dict_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Class to write plots of measured processing time with respect to parameters.
  include/stat_bench/param/parameter_dict.h
  include/stat_bench/plots/parameter_to_time_line_plot.h
  src/stat_bench/param/parameter_dict.cpp
  src/stat_bench/plots/parameter_to_time_line_plot.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/plots/approvals/parameter_to_time_line_plot_test.stat_bench__plots__ParameterToTimeLinePlot.write.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/parameter_to_time_line_plot_test.stat_bench__plots__ParameterToTimeLinePlot.write.in_log_scale.approved.html
  tests/units/stat_bench/plots/parameter_to_time_line_plot_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:white_check_mark: Test of non-existing keys in OrderedMap.
  tests/units/stat_bench/util/ordered_map_test.cpp
Due: clang-format, update-source-list-in-unit-test

:white_check_mark: Test of non-existing parameter in ParameterDict.
  tests/units/stat_bench/param/parameter_dict_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Escape file names.
  .clang-tidy
  include/stat_bench/util/escape_for_file_name.h
  src/stat_bench/plots/parameter_to_time_line_plot.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  src/stat_bench/util/escape_for_file_name.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/util/escape_for_file_name_test.cpp
  tests/units/unity_source.cpp
Due: clang-format, update-source-list-in-unit-test

:construction: Data structure to hold configurations of plots.
  include/stat_bench/bench_impl/benchmark_group.h
  include/stat_bench/bench_impl/benchmark_group_config.h
  include/stat_bench/reporter/console_reporter.h
  include/stat_bench/reporter/data_file_reporter_base.h
  include/stat_bench/reporter/i_reporter.h
  include/stat_bench/reporter/plot_reporter.h
  src/stat_bench/bench_impl/benchmark_group.cpp
  src/stat_bench/reporter/console_reporter.cpp
  src/stat_bench/reporter/data_file_reporter_base.cpp
  src/stat_bench/reporter/plot_reporter.cpp
  src/stat_bench/runner/runner.cpp
  tests/units/stat_bench/reporter/mock_reporter.h
  tests/units/stat_bench/reporter/use_reporter_for_test.h
  tests/units/stat_bench/reporter/use_reporter_for_test_wide_range.h
  tests/units/stat_bench/runner/runner_test.cpp
Due: clang-format, update-source-list-in-unit-test

:bug: Fix compile errors.
  src/stat_bench/util/escape_for_file_name.cpp
  tests/units/stat_bench/util/escape_for_file_name_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Macro to configure plots using parameters as x-axis.
  include/stat_bench/bench_impl/benchmark_case_registry.h
  include/stat_bench/bench_impl/benchmark_group_register.h
  include/stat_bench/bench_impl/group_impl.h
  include/stat_bench/benchmark_macros.h
  include/stat_bench/util/string_view.h
  src/stat_bench/bench_impl/benchmark_case_registry.cpp
  src/stat_bench/bench_impl/benchmark_group_register.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/integ/parametrized_benchmark.cpp
  tests/integ/reporters_test.py
Due: clang-format, update-source-list-in-unit-test
