Repository MusicScience37/cpp-stat-bench: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list-in-unit-test, update-template-headers

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format C++ files with clang-format.
        language: system
        files: \.(h|cpp)$
        entry: clang-format -i
      - id: cmake-format
        name: cmake-format
        description: Format CMake files with cmake-format.
        language: system
        files: (CMakeLists.txt|.*\.cmake)$
        exclude: source_list.cmake
        entry: poetry run cmake-format -i
      - id: update-source-list-in-unit-test
        name: update-source-list-in-unit-test
        description: Update the list of source codes in unit test.
        language: system
        files: \.(h|cpp)$
        entry: poetry run python scripts/update_source_list.py
      - id: check-encoding
        name: check-encoding
        description: Check encoding of files.
        language: system
        entry: poetry run python scripts/check_encoding.py
      - id: update-template-headers
        name: update-template-headers
        description: Update C++ header files of HTML templates.
        language: system
        files: src/stat_bench/reporter/template/.*\.html$
        entry: poetry run python scripts/generate_template_header.py
# Automatically generated files should not be checked.
exclude: "\\.approved\\."

:recycle: Remove renderer of Jinja2 which are not used anymore.
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  CMakeLists.txt
  cmake/cpp-stat-bench-config.cmake.in
  cspell.json
  doc/sphinx/src/design/classes_plot.puml
  include/stat_bench/plots/jinja_renderer.h
  iwyu_mappings.imp
  poetry.lock
  pyproject.toml
  scripts/generate_template_header.py
  scripts/render_template.py
  src/stat_bench/CMakeLists.txt
  src/stat_bench/plots/jinja_renderer.cpp
  src/stat_bench/plots/template/plotly_plot.h
  src/stat_bench/plots/template/plotly_plot.jinja
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/source_list.cmake
  tests/units/stat_bench/plots/jinja_renderer_test.cpp
  tests/units/unity_source.cpp
  vcpkg.json
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Update documentation of installation.
  README.md
  doc/sphinx/src/installation.md
Due: none

:wrench: Update cpp-plotly-plotter.
  vcpkg-configuration.json
Due: none

:wrench: Fix error in spell check.
  cspell.json
Due: none

:bug: Fix errors due to zeros in measured time.
  src/stat_bench/plots/plotly_trace_common.h
Due: clang-format, update-source-list-in-unit-test

:books: Prepare for release v0.23.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.23.0.md
  include/stat_bench/version.h
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Publish coverage report.
  .gitlab-ci.yml
Due: none

:wrench: Fix the path of coverage report.
  .gitlab-ci.yml
Due: none

:books: Add link to coverage report.
  README.md
Due: none

:wrench: Revert temporary change.
  .gitlab-ci.yml
Due: none

:wrench: Update dependencies.
  tests/units/stat_bench/plots/approvals/BoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/CdfLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_box_plot.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_box_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_box_plot_with_string_parameters.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_using_string_parameters.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_with_error.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_with_error_and_string_parameters.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_with_error_in_x.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_with_error_in_x_and_y.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_with_sequential_number.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_line_plot_with_texts.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_simple_line_plot.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_violin_plot.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_violin_plot_in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/PlotlyPlotter.create_a_violin_plot_with_string_parameters.approved.html
  tests/units/stat_bench/plots/approvals/SamplesLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ViolinPlot.write.approved.html
  vcpkg-configuration.json
Due: none

:recycle: Simplify an implementation of plotting with a helper function.
  src/stat_bench/plots/common_labels.h
  src/stat_bench/plots/create_data_table.cpp
  src/stat_bench/plots/create_data_table.h
  src/stat_bench/plots/parameter_to_time_line_plot.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_log_scale.approved.html
Due: clang-format, update-source-list-in-unit-test

:recycle: Use figure builder API in plotly_plotter for simpler implementation.
  src/stat_bench/plots/box_plot.cpp
  src/stat_bench/plots/cdf_line_plot.cpp
  src/stat_bench/plots/common_labels.h
  src/stat_bench/plots/create_data_table.cpp
  src/stat_bench/plots/create_data_table.h
  src/stat_bench/plots/parameter_to_output_line_plot.cpp
  src/stat_bench/plots/parameter_to_time_box_plot.cpp
  src/stat_bench/plots/parameter_to_time_violin_plot.cpp
  src/stat_bench/plots/samples_line_plot.cpp
  src/stat_bench/plots/time_to_output_by_parameter_line_plot.cpp
  src/stat_bench/plots/violin_plot.cpp
  tests/units/stat_bench/plots/approvals/BoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/CdfLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/SamplesLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ViolinPlot.write.approved.html
Due: clang-format, update-source-list-in-unit-test

:bug: Create directories for outputs.
  src/stat_bench/reporter/plot_reporter.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Prevent errors in CI.
  tests/units/CMakeLists.txt
Due: cmake-format

:recycle: Add a new class to configure options of plots.
  include/stat_bench/bench_impl/benchmark_group_register.h
  include/stat_bench/plot_option.h
  include/stat_bench/plot_options.h
  include/stat_bench/plots/parameter_to_output_line_plot.h
  include/stat_bench/plots/parameter_to_time_line_plot.h
  include/stat_bench/plots/time_to_output_by_parameter_line_plot.h
  src/stat_bench/bench_impl/benchmark_group_register.cpp
  src/stat_bench/plot_options.cpp
  src/stat_bench/plots/parameter_to_output_line_plot.cpp
  src/stat_bench/plots/parameter_to_time_line_plot.cpp
  src/stat_bench/plots/time_to_output_by_parameter_line_plot.cpp
  src/stat_bench/source_list.cmake
  src/stat_bench/unity_source.cpp
  tests/units/stat_bench/plots/parameter_to_output_line_plot_test.cpp
  tests/units/stat_bench/plots/parameter_to_time_line_plot_test.cpp
  tests/units/stat_bench/plots/time_to_output_by_parameter_line_plot_test.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Replace old usage of PlotOption.
  doc/sphinx/src/basic_api/bench.rst
  doc/sphinx/src/howto/configure_plotting.md
  examples/configure_plotting.cpp
  include/stat_bench/plot_options.h
  src/stat_bench/bench_impl/benchmark_group_register.cpp
  tests/integ/parametrized_benchmark.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Additional options for subplots and its implementation in a type of plot.
  include/stat_bench/bench_impl/benchmark_group_register.h
  include/stat_bench/plot_options.h
  include/stat_bench/plots/parameter_to_output_line_plot.h
  include/stat_bench/plots/parameter_to_time_box_plot.h
  include/stat_bench/plots/parameter_to_time_violin_plot.h
  include/stat_bench/util/string_view.h
  src/stat_bench/bench_impl/benchmark_group_register.cpp
  src/stat_bench/plot_options.cpp
  src/stat_bench/plots/parameter_to_output_line_plot.cpp
  src/stat_bench/plots/parameter_to_time_box_plot.cpp
  src/stat_bench/plots/parameter_to_time_violin_plot.cpp
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/parameter_to_output_line_plot_test.cpp
  tests/units/stat_bench/plots/parameter_to_time_box_plot_test.cpp
  tests/units/stat_bench/plots/parameter_to_time_violin_plot_test.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Update Python packages.
  cspell.json
  poetry.lock
  pyproject.toml
Due: none

:bug: Fix file path.
  cspell.json
  src/stat_bench/plots/parameter_to_output_line_plot.cpp
  tests/integ/CMakeLists.txt
  tests/integ/conftest.py
  tests/integ/reporters_test.py
  tests/integ/subplots.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:sparkles: Implementation of subplots in ParameterToTimeBoxPlot.
  include/stat_bench/plots/parameter_to_time_box_plot.h
  src/stat_bench/plots/parameter_to_time_box_plot.cpp
  tests/integ/reporters_test.py
  tests/integ/subplots.cpp
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/parameter_to_time_box_plot_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Implementation of subplots in ParameterToTimeLinePlot.
  include/stat_bench/plots/parameter_to_time_line_plot.h
  src/stat_bench/plots/parameter_to_time_line_plot.cpp
  tests/integ/reporters_test.py
  tests/integ/subplots.cpp
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/parameter_to_time_line_plot_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Implementation of subplots in ParameterToTimeViolinPlot.
  include/stat_bench/plots/parameter_to_time_violin_plot.h
  src/stat_bench/plots/parameter_to_time_violin_plot.cpp
  tests/integ/reporters_test.py
  tests/integ/subplots.cpp
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/parameter_to_time_violin_plot_test.cpp
Due: clang-format, update-source-list-in-unit-test

:sparkles: Implementation of subplots in TimeToOutputByParameterLinePlot.
  include/stat_bench/plots/time_to_output_by_parameter_line_plot.h
  src/stat_bench/plots/time_to_output_by_parameter_line_plot.cpp
  tests/integ/reporters_test.py
  tests/integ/subplots.cpp
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/time_to_output_by_parameter_line_plot_test.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Update included headers.
  include/stat_bench/bench_impl/threadable_invoker.h
  iwyu_mappings.imp
  src/stat_bench/plots/parameter_to_output_line_plot.cpp
  src/stat_bench/plots/parameter_to_time_box_plot.cpp
  src/stat_bench/plots/parameter_to_time_line_plot.cpp
  src/stat_bench/plots/parameter_to_time_violin_plot.cpp
  src/stat_bench/plots/time_to_output_by_parameter_line_plot.cpp
  tests/integ/parametrized_benchmark.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Updated C++ dependencies.
  tests/units/stat_bench/plots/approvals/BoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ViolinPlot.write.approved.html
  vcpkg-configuration.json
Due: none

:wrench: Prepare for release v0.24.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.24.0.md
  include/stat_bench/version.h
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:recycle: Fix included headers.
  include/stat_bench/measurement_config.h
  include/stat_bench/measurer/measurement_type.h
  include/stat_bench/reporter/plot_reporter.h
  src/stat_bench/bench_impl/benchmark_group_config.cpp
  src/stat_bench/measurer/generate_default_measurement_configs.cpp
  src/stat_bench/measurer/measurer.cpp
  src/stat_bench/reporter/json_reporter.cpp
  src/stat_bench/runner/runner.cpp
  tests/units/stat_bench/measurer/measurer_test.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Remove unused functions.
  include/stat_bench/measurement_config.h
  src/stat_bench/measurement_config.cpp
Due: clang-format, update-source-list-in-unit-test

:white_check_mark: Test custom measurement functionality.
  tests/integ/CMakeLists.txt
  tests/integ/approvals/TestCustomMeasurement.test_custom_measurement.approved.txt
  tests/integ/conftest.py
  tests/integ/custom_measurement.cpp
  tests/integ/custom_measurement_test.py
  tests/units/stat_bench/measurer/measurer_test.cpp
Due: clang-format, cmake-format, update-source-list-in-unit-test

:books: Update data file schema.
  doc/sphinx/CMakeLists.txt
  doc/sphinx/src/howto/create_data_files.md
  doc/sphinx/src/schemas/docs/data_file_schema_v1.md
  doc/sphinx/src/schemas/docs/data_file_schema_v3.md
  doc/sphinx/src/schemas/docs/data_file_schema_v4.md
  doc/sphinx/src/schemas/index.rst
  schemas/data_file_schema_v1.json
  schemas/data_file_schema_v2.json
  schemas/data_file_schema_v4.json
  scripts/generate_schema_docs.sh
  src/stat_bench/reporter/data_file_schema_url.h
  tests/integ/reporters_test.py
  tests/units/stat_bench/reporter/approvals/JsonReporter.write.approved.json
Due: clang-format, cmake-format, update-source-list-in-unit-test

:rotating_light: Fix a warning.
  tests/units/stat_bench/util/ordered_map_test.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Update documentation of command line interface.
  cspell.json
  doc/sphinx/src/command_line_options.md
  src/stat_bench/runner/command_line_parser.cpp
  tests/integ/approvals/TestCommandLine.test_help.approved.txt
  tests/integ/approvals/TestCommandLine.test_short_help.approved.txt
Due: clang-format, update-source-list-in-unit-test

:books: Prepare for release v0.25.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.25.0.md
  include/stat_bench/version.h
Due: clang-format, update-source-list-in-unit-test

:white_check_mark: Update approved files.
  tests/integ/approvals/TestCustomMeasurement.test_custom_measurement.approved.txt
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: none
