Repository MusicScience37/cpp-stat-bench: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, update-source-list-in-unit-test, update-template-headers

clang-format:
  name: clang-format
  description: Format C++ files with clang-format.
  language: system
  entry: clang-format -i

cmake-format:
  name: cmake-format
  description: Format CMake files with cmake-format.
  language: system
  entry: poetry run cmake-format -i

update-source-list-in-unit-test:
  name: update-source-list-in-unit-test
  description: Update the list of source codes in unit test.
  language: system
  entry: poetry run python scripts/update_source_list.py

update-template-headers:
  name: update-template-headers
  description: Update C++ header files of HTML templates.
  language: system
  entry: poetry run python scripts/generate_template_header.py

:wrench: update development environment
  .clang-tidy-checker
  .devcontainer/Dockerfile
  .github/copilot-instructions.md
  .gitlab-ci.yml
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
  poetry.lock
  vcpkg-configuration.json
Due: none

:wrench: Revert the change of Clang version.
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  README.md
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:wrench: Change GitLab runner for Windows.
  .gitlab-ci.yml
  scripts/ci_win.cmd
Due: none

:wrench: Temporarily disable integration tests in CI in Windows.
  scripts/ci_win.cmd
  tests/CMakeLists.txt
Due: cmake-format

:bug: Prevent division by zero in statistics calculations.
  include/stat_bench/stat/custom_stat_output.h
  tests/units/stat_bench/stat/custom_stat_output_test.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Re-enable integration tests in Windows.
  scripts/ci_win.cmd
  tests/CMakeLists.txt
Due: cmake-format

:books: Prepare for release v0.25.1.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.25.1.md
  include/stat_bench/version.h
  tests/integ/approvals/TestCustomMeasurement.test_custom_measurement.approved.txt
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Update C++ dependencies.
  vcpkg-configuration.json
Due: none

:wrench: Update dependencies.
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:rotating_light: Replace deprecated `fmt::localtime` to an original implementation.
  src/stat_bench/clock/system_time_point.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Test build with Clang 20.
  .gitlab-ci.yml
Due: none

:bug: Fix error of timezone in Windows.
  src/stat_bench/clock/system_time_point.cpp
Due: clang-format, update-source-list-in-unit-test

:recycle: Remove the unused function.
  src/stat_bench/clock/system_time_point.cpp
Due: clang-format, update-source-list-in-unit-test

:wrench: Update Clang to 20.
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

:wrench: Update CI configuration for release of GitLab Pages.
  .gitlab-ci.yml
Due: none

:books: Prepare for release v0.25.2
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.25.2.md
  include/stat_bench/version.h
  tests/integ/approvals/TestCustomMeasurement.test_custom_measurement.approved.txt
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:rotating_light: Fix false positive.
  cspell.json
Due: none

:wrench: Update C++ dependencies.
  tests/integ/approvals/TestCommandLine.test_help.approved.txt
  tests/integ/approvals/TestCommandLine.test_short_help.approved.txt
  tests/units/stat_bench/plots/approvals/BoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/CdfLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/SamplesLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ViolinPlot.write.approved.html
  vcpkg-configuration.json
Due: none

:books: Update README.
  README.md
  cspell.json
  doc/doxygen/Doxyfile.in
  doc/doxygen/DoxygenREADME.md
  doc/sphinx/src/index.rst
Due: none

:books: Update how to build.
  doc/sphinx/src/how_to_build_in_repository.md
Due: none

:books: Fix build of documentation.
  doc/sphinx/src/conf.py
Due: none

:wrench: Build with C++ 17 instead of C++ 14.
  .gitlab-ci.yml
  src/stat_bench/CMakeLists.txt
Due: cmake-format

:wrench: Fix keys of caches.
  .gitlab-ci.yml
Due: none

:recycle: Use C++ filesystem instead of Windows / Unix functions for file manipulation.
  src/stat_bench/util/prepare_directory.cpp
  tests/units/stat_bench/reporter/remove_directory.h
  tests/units/stat_bench/util/prepare_directory_test.cpp
Due: clang-format, update-source-list-in-unit-test

:books: Update documents.
  README.md
  include/stat_bench/bench_impl/threadable_invoker.h
Due: clang-format, update-source-list-in-unit-test

:rotating_light: Fix warnings.
  include/stat_bench/measurer/measurement_type.h
  include/stat_bench/reporter/data_file_spec.h
Due: clang-format, update-source-list-in-unit-test

:books: Prepare for release v0.26.0.
  doc/sphinx/src/change_log/index.rst
  doc/sphinx/src/change_log/v0.26.0.md
  include/stat_bench/version.h
  tests/integ/approvals/TestCustomMeasurement.test_custom_measurement.approved.txt
  tests/integ/approvals/TestErrorsInBenchmarks.test_error_in_benchmark.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_execute_all.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_and_exclude_regex.approved.txt
  tests/integ/approvals/TestGroupsAndCases.test_include_regex.approved.txt
  tests/integ/approvals/TestParametrizedBenchmarks.test_parametrized_benchmark.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write.approved.txt
  tests/units/stat_bench/reporter/approvals/ConsoleReporter.write_values_in_different_ranges.approved.txt
Due: clang-format, update-source-list-in-unit-test

:wrench: Update C++ dependencies.
  tests/units/stat_bench/plots/approvals/BoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/CdfLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/SamplesLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ViolinPlot.write.approved.html
  vcpkg-configuration.json
Due: none

:recycle: Update dependencies.
  poetry.lock
  pyproject.toml
  tests/units/stat_bench/plots/approvals/BoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/CdfLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToOutputLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeBoxPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/ParameterToTimeViolinPlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/SamplesLinePlot.write.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_columns.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_with_two_parameters.using_rows.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_linear_scale.approved.html
  tests/units/stat_bench/plots/approvals/TimeToOutputByParameterLinePlot.write_without_statistics.in_log_scale.approved.html
  tests/units/stat_bench/plots/approvals/ViolinPlot.write.approved.html
  vcpkg-configuration.json
Due: none

:wrench: Update development environment.
  .devcontainer/Dockerfile
  poetry.lock
  pyproject.toml
  vcpkg-configuration.json
Due: none

:wrench: Update LLVM in CI
  .gitlab-ci.yml
  README.md
Due: none

:wrench: Configure SonarQube analysis
  .gitlab-ci.yml
  cspell.json
  sonar-project.properties
Due: none

:wrench: More configuration of SonarQube
  .gitlab-ci.yml
  cspell.json
  sonar-project.properties
Due: none

:wrench: Fix command
  .gitlab-ci.yml
Due: none

:wrench: Fix configuration
  sonar-project.properties
Due: none

:wrench: Configuration of coverage in SonarQube
  .gitlab-ci.yml
Due: none

:wrench: Remove unnecessary cache configuration for SonarQube
  .gitlab-ci.yml
Due: none

:wrench: Suppress a warning in SonarQube
  sonar-project.properties
Due: none

:wrench: Fix SonarQube configuration
  sonar-project.properties
Due: none

Path conditions:
  clang-format: any of: \.(h|cpp)$, but not: \.approved\.
  cmake-format: any of: (CMakeLists.txt|.*\.cmake)$ and not (source_list.cmake) and not (\.approved\.)
  update-source-list-in-unit-test: any of: \.(h|cpp)$, but not: \.approved\.
  update-template-headers: any of: src/stat_bench/reporter/template/.*\.html$, but not: \.approved\.
